{
  "openapi": "3.0.0",
  "info": {
    "title": "intro",
    "description": "API documentation for audio generation services",
    "version": "1.0.0",
    "contact": {
      "name": "Technical Support",
      "email": "support@sunoapi.org"
    }
  },
  "tags": [
    {
      "name": "Music Generation",
      "description": "Endpoints for creating and managing music generation tasks"
    },
    {
      "name": "Lyrics Generation",
      "description": "Endpoints for lyrics generation and management"
    },
    {
      "name": "WAV Conversion",
      "description": "Endpoints for converting music to WAV format"
    },
    {
      "name": "Vocal Removal",
      "description": "Endpoints for vocal removal from music tracks"
    },
    {
      "name": "Music Video Generation",
      "description": "Endpoints for generating MP4 videos from music tracks"
    },
    {
      "name": "Account Management",
      "description": "Endpoints for account and credits management"
    }
  ],
  "servers": [
    {
      "url": "https://api.sunoapi.org",
      "description": "API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "# 🔑 API Authentication\n\nAll endpoints require authentication using Bearer Token.\n\n## Get API Key\n\n1. Visit the [API Key Management Page](https://sunoapi.org/api-key) to obtain your API Key\n\n## Usage\n\nAdd to request headers:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n> **⚠️ Note:**\n> - Keep your API Key secure and do not share it with others\n> - If you suspect your API Key has been compromised, reset it immediately from the management page"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "# Status Codes\n\n- ✅ 200 - Request successful\n- ⚠️ 400 - Invalid parameters\n- ⚠️ 401 - Unauthorized access\n- ⚠️ 404 - Invalid request method or path\n- ⚠️ 405 - Rate limit exceeded\n- ⚠️ 413 - Theme or prompt too long\n- ⚠️ 429 - Insufficient credits\n- ⚠️ 430 - Your call frequency is too high. Please try again later. \n- ⚠️ 455 - System maintenance\n- ❌ 500 - Server error",
            "example": 200,
            "enum": [
              200,
              400,
              401,
              404,
              405,
              413,
              429,
              430,
              455,
              500
            ]
          },
          "msg": {
            "type": "string",
            "description": "Error message when code != 200",
            "example": "success"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Server error"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/generate": {
      "post": {
        "operationId": "generate-music",
        "summary": "Generate Music",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customMode",
                  "instrumental",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "A description of the desired audio content.  \n- In Custom Mode (`customMode: true`): Required if `instrumental` is `false`. The prompt will be strictly used as the lyrics and sung in the generated track. Character limits by model:  \n  - **V4**: Maximum 3000 characters  \n  - **V4_5, V4_5PLUS, V4_5ALL, V5 & V5_5**: Maximum 5000 characters  \n  Example: \"A calm and relaxing piano track with soft melodies\"  \n- In Non-custom Mode (`customMode: false`): Always required. The prompt serves as the core idea, and lyrics will be automatically generated based on it (not strictly matching the input). Maximum 500 characters.  \n  Example: \"A short relaxing piano tune\"",
                    "example": "A calm and relaxing piano track with soft melodies"
                  },
                  "style": {
                    "type": "string",
                    "description": "The music style or genre for the audio.  \n- Required in Custom Mode (`customMode: true`). Examples: \"Jazz\", \"Classical\", \"Electronic\". \n  - For V4 model: Max length: 200 characters. \n  - For V4_5, V4_5PLUS, V4_5ALL, V5 and V5_5 models: Max length: 1000 characters.  \n  Example: \"Classical\"  \n- In Non-custom Mode (`customMode: false`): Leave empty.",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the generated music track.  \n- Required in Custom Mode (`customMode: true`). Character limits by model:  \n  - **V4 & V4_5ALL**: Maximum 80 characters  \n  - **V4_5, V4_5PLUS, V5 & V5_5**: Maximum 100 characters  \n  Example: \"Peaceful Piano Meditation\"  \n- In Non-custom Mode (`customMode: false`): Leave empty.",
                    "example": "Peaceful Piano Meditation"
                  },
                  "customMode": {
                    "type": "boolean",
                    "description": "Enables Custom Mode for advanced audio generation settings.  \n- Set to `true` to use Custom Mode (requires `style` and `title`; `prompt` required if `instrumental` is `false`). The prompt will be strictly used as lyrics if `instrumental` is `false`.  \n- Set to `false` for Non-custom Mode (only `prompt` is required). Lyrics will be auto-generated based on the prompt.",
                    "example": true
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Determines if the audio should be instrumental (no lyrics).  \n- In Custom Mode (`customMode: true`):  \n  - If `true`: Only `style` and `title` are required.  \n  - If `false`: `style`, `title`, and `prompt` are required (with `prompt` used as the exact lyrics).  \n- In Non-custom Mode (`customMode: false`): No impact on required fields (`prompt` only). Lyrics are auto-generated if `instrumental` is `false`.",
                    "example": true
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Only available when custom parameters are enabled. Persona ID to apply to the generated music. Optional. You can use either:\n\n- A Persona ID generated by the [Generate Persona](https://docs.sunoapi.org/suno-api/generate-persona) endpoint. Use `personaModel: style_persona` or omit `personaModel` to use the default.\n- A `voiceId` generated by the [Suno Voice](https://docs.sunoapi.org/suno-api/suno-voice-generate) workflow. When using a voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model type to apply when using `personaId`. Optional.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Use this when `personaId` is a `voiceId` generated by Suno Voice. This option is only available with V5 and V5_5 models.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "model": {
                    "type": "string",
                    "description": "The model version to use for audio generation.   \n- Available options:  \n  - **`V5_5`**: Unleash Your Voice: Custom Models Tailored to Your Unique Taste.  \n  - **`V5`**: Superior musical expression, faster generation.  \n  - **`V4_5PLUS`**: V4.5+ is richer sound, new ways to create, max 8 min.  \n  - **`V4_5ALL`**: V4.5-all is better song structure, max 8 min.  \n  - **`V4_5`**: Superior genre blending with smarter prompts and faster output, up to 8 minutes.  \n  - **`V4`**: Best audio quality with refined song structure, up to 4 minutes.",
                    "enum": [
                      "V4",
                      "V4_5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V5",
                      "V5_5"
                    ],
                    "example": "V4_5ALL"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles or traits to exclude from the generated audio.  \n- Optional. Use to avoid specific styles.  \n  Example: \"Heavy Metal, Upbeat Drums\"",
                    "example": "Heavy Metal, Upbeat Drums"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender for generated vocals. Optional.",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Weight of the provided style guidance. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Constraint on creative deviation/novelty. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Weight of the input audio influence (where applicable). Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when music generation is complete.\n- For detailed callback format and implementation guide, see [Music Generation Callbacks](https://docs.sunoapi.org/suno-api/generate-music-callbacks)\n- Alternatively, you can use the get music generation details endpoint to poll task status",
                    "example": "https://api.example.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioGenerated": {
            "{request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      },\n      {\n        \"id\": \"bd15****1873\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 228.28\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "Original audio file URL"
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/sounds": {
      "post": {
        "operationId": "generate-sounds",
        "summary": "Generate Sounds",
        "description": "Used for creating a sound generation task (Sounds Task). It supports settings for looping, tempo (BPM), pitch (Key), as well as lyrics subtitle capture, etc.\n\n## User Guide\n- Generate corresponding audio content based on input `prompt`\n- Supports loop playback for background music and ambient sound scenarios\n- Supports BPM and Key controls for style shaping\n- Optional lyrics subtitle capture after generation\n- Supports async task completion notifications via callback URL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt",
                  "model"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Prompt text for sound generation. Maximum 500 characters.",
                    "maxLength": 500,
                    "example": "A soft rain ambience with distant thunder and gentle wind"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model name. Sounds tasks only support `V5`.",
                    "enum": [
                      "V5"
                    ],
                    "example": "V5"
                  },
                  "soundLoop": {
                    "type": "boolean",
                    "description": "Whether to enable loop playback for the generated sound.",
                    "default": false,
                    "example": false
                  },
                  "soundTempo": {
                    "type": "integer",
                    "description": "BPM (beats per minute). If omitted, Auto is used.",
                    "minimum": 1,
                    "maximum": 300,
                    "nullable": true,
                    "example": 120
                  },
                  "soundKey": {
                    "type": "string",
                    "description": "Pitch key of generated sound. Default is `Any`.",
                    "default": "Any",
                    "enum": [
                      "Any",
                      "Cm",
                      "C#m",
                      "Dm",
                      "D#m",
                      "Em",
                      "Fm",
                      "F#m",
                      "Gm",
                      "G#m",
                      "Am",
                      "A#m",
                      "Bm",
                      "C",
                      "C#",
                      "D",
                      "D#",
                      "E",
                      "F",
                      "F#",
                      "G",
                      "G#",
                      "A",
                      "A#",
                      "B"
                    ],
                    "example": "Any"
                  },
                  "grabLyrics": {
                    "type": "boolean",
                    "description": "Whether to fetch lyric subtitle data after task completion.",
                    "example": false
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Callback URL for asynchronous task completion notifications.",
                    "example": "https://api.example.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking sound generation status",
                              "example": "a1b2****c3d4"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/generate/extend": {
      "post": {
        "operationId": "extend-music",
        "summary": "Extend Music",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "defaultParamFlag",
                  "audioId",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "defaultParamFlag": {
                    "type": "boolean",
                    "description": "Controls parameter usage mode.  \n- `true`: Use custom parameters (requires `continueAt`, `prompt`, `style`, and `title`).  \n- `false`: Use original audio parameters (only `audioId` is required).",
                    "example": true
                  },
                  "audioId": {
                    "type": "string",
                    "description": "Audio ID of the track to extend. This is the source track that will be continued.",
                    "example": "e231****-****-****-****-****8cadc7dc"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description of how the music should be extended. Required when defaultParamFlag is true.",
                    "example": "Extend the music with more relaxing notes"
                  },
                  "style": {
                    "type": "string",
                    "description": "Music style, e.g., Jazz, Classical, Electronic",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "Music title",
                    "example": "Peaceful Piano Extended"
                  },
                  "continueAt": {
                    "type": "number",
                    "description": "The time point (in seconds) from which to start extending the music.  \n- Required when `defaultParamFlag` is `true`.  \n- Value range: greater than 0 and less than the total duration of the generated audio.  \n- Specifies the position in the original track where the extension should begin.",
                    "example": 60
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Only available when custom parameters are enabled. Persona ID to apply to the generated music. Optional. You can use either:\n\n- A Persona ID generated by the [Generate Persona](https://docs.sunoapi.org/suno-api/generate-persona) endpoint. Use `personaModel: style_persona` or omit `personaModel` to use the default.\n- A `voiceId` generated by the [Suno Voice](https://docs.sunoapi.org/suno-api/suno-voice-generate) workflow. When using a voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model type to apply when using `personaId`. Optional.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Use this when `personaId` is a `voiceId` generated by Suno Voice. This option is only available with V5 and V5_5 models.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model version to use, must be consistent with the source audio.  \n- Available options:  \n  - **`V5_5`**: Unleash Your Voice: Custom Models Tailored to Your Unique Taste.  \n  - **`V5`**: Superior musical expression, faster generation.  \n  - **`V4_5PLUS`**: V4.5+ is richer sound, new waysto create, max 8 min.  \n  - **`V4_5ALL`**: V4.5-all is better song structure, max 8 min.  \n  - **`V4_5`**: V4.5 is smarter prompts, fastergenerations, max 8 min.  \n  - **`V4`**: V4 is improved vocal quality,max 4 min.",
                    "enum": [
                      "V4",
                      "V4_5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V5",
                      "V5_5"
                    ],
                    "example": "V4_5ALL"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles to exclude from generation",
                    "example": "Relaxing Piano"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender for generated vocals. Optional.",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Weight of the provided style guidance. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Constraint on creative deviation/novelty. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Weight of the input audio influence (where applicable). Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when music extension is complete.\n- For detailed callback format and implementation guide, see [Music Extension Callbacks](https://docs.sunoapi.org/suno-api/extend-music-callbacks)\n- Alternatively, you can use the get music generation details endpoint to poll task status",
                    "example": "https://api.example.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioExtend": {
            "{$request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "Original audio file URL"
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/upload-cover": {
      "post": {
        "operationId": "upload-and-cover-audio",
        "summary": "Upload And Cover Audio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uploadUrl",
                  "customMode",
                  "instrumental",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "uploadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL for uploading audio files, required regardless of whether customMode and instrumental are true or false. Ensure the uploaded audio does not exceed 8 minutes in length.",
                    "example": "https://storage.example.com/upload"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "A description of the desired audio content.  \n- In Custom Mode (`customMode: true`): Required if `instrumental` is `false`. The prompt will be strictly used as the lyrics and sung in the generated track. Character limits by model:  \n  - **V4**: Maximum 3000 characters  \n  - **V4_5, V4_5PLUS, V4_5ALL, V5 & V5_5**: Maximum 5000 characters  \n  Example: \"A calm and relaxing piano track with soft melodies\"  \n- In Non-custom Mode (`customMode: false`): Always required. The prompt serves as the core idea, and lyrics will be automatically generated based on it (not strictly matching the input). Maximum 500 characters.  \n  Example: \"A short relaxing piano tune\" ",
                    "example": "A calm and relaxing piano track with soft melodies"
                  },
                  "style": {
                    "type": "string",
                    "description": "The music style or genre for the audio.  \n- Required in Custom Mode (`customMode: true`). Examples: \"Jazz\", \"Classical\", \"Electronic\". Character limits by model:  \n  - **V4**: Maximum 200 characters  \n  - **V4_5, V4_5PLUS, V4_5ALL, V5 & V5_5**: Maximum 1000 characters  \n  Example: \"Classical\"  \n- In Non-custom Mode (`customMode: false`): Leave empty.",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the generated music track.  \n- Required in Custom Mode (`customMode: true`). Character limits by model:  \n  - **V4 & V4_5ALL**: Maximum 80 characters  \n  - **V4_5, V4_5PLUS, V5 & V5_5**: Maximum 100 characters  \n  Example: \"Peaceful Piano Meditation\"  \n- In Non-custom Mode (`customMode: false`): Leave empty.",
                    "example": "Peaceful Piano Meditation"
                  },
                  "customMode": {
                    "type": "boolean",
                    "description": "Enables Custom Mode for advanced audio generation settings.  \n- Set to `true` to use Custom Mode (requires `style` and `title`; `prompt` required if `instrumental` is `false`). The prompt will be strictly used as lyrics if `instrumental` is `false`.  \n- Set to `false` for Non-custom Mode (only `prompt` is required). Lyrics will be auto-generated based on the prompt.",
                    "example": true
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Determines if the audio should be instrumental (no lyrics).  \n- In Custom Mode (`customMode: true`):  \n  - If `true`: Only `style` and `title` are required.  \n  - If `false`: `style`, `title`, and `prompt` are required (with `prompt` used as the exact lyrics).  \n- In Non-custom Mode (`customMode: false`): No impact on required fields (`prompt` only). Lyrics are auto-generated if `instrumental` is `false`.",
                    "example": true
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Only available when custom parameters are enabled. Persona ID to apply to the generated music. Optional. You can use either:\n\n- A Persona ID generated by the [Generate Persona](https://docs.sunoapi.org/suno-api/generate-persona) endpoint. Use `personaModel: style_persona` or omit `personaModel` to use the default.\n- A `voiceId` generated by the [Suno Voice](https://docs.sunoapi.org/suno-api/suno-voice-generate) workflow. When using a voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model type to apply when using `personaId`. Optional.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Use this when `personaId` is a `voiceId` generated by Suno Voice. This option is only available with V5 and V5_5 models.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "model": {
                    "type": "string",
                    "description": "The model version to use for audio generation.  \n- Choose between: `V4`, `V4_5`, `V4_5PLUS`, `V4_5ALL`, `V5`, or `V5_5`. **Note:** Ensure correct formatting (e.g., use \"V4\" or \"V4_5ALL\", not \"V4.5\" or other variations).",
                    "enum": [
                      "V4",
                      "V4_5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V5",
                      "V5_5"
                    ],
                    "example": "V4_5ALL"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles or traits to exclude from the generated audio.  \n- Optional. Use to avoid specific styles.  \n  Example: \"Heavy Metal, Upbeat Drums\"",
                    "example": "Heavy Metal, Upbeat Drums"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender for generated vocals. Optional.",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Weight of the provided style guidance. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Constraint on creative deviation/novelty. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Weight of the input audio influence (where applicable). Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when audio covering is complete.\n- For detailed callback format and implementation guide, see [Upload and Cover Audio Callbacks](https://docs.sunoapi.org/suno-api/upload-and-cover-audio-callbacks)\n- Alternatively, you can use the get music generation details endpoint to poll task status",
                    "example": "https://api.example.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioGenerated": {
            "{request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      },\n      {\n        \"id\": \"bd15****1873\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 228.28\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "Original audio file URL"
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/upload-extend": {
      "post": {
        "operationId": "upload-and-extend-audio",
        "summary": "Upload And Extend Audio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uploadUrl",
                  "defaultParamFlag",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "uploadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL for uploading audio files, required regardless of whether defaultParamFlag is true or false. Ensure the uploaded audio does not exceed 8 minutes in length.",
                    "example": "https://storage.example.com/upload"
                  },
                  "defaultParamFlag": {
                    "type": "boolean",
                    "description": "Enable custom mode for advanced audio generation settings.  \n- Set to `true` to use custom parameter mode (requires `style`, `title`, and `uploadUrl`; if `instrumental` is `false`, `uploadUrl` and `prompt` are required). If `instrumental` is `false`, the prompt will be strictly used as lyrics.  \n- Set to `false` to use non-custom mode (only `uploadUrl` required). Lyrics will be automatically generated based on the prompt.",
                    "example": true
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Determines whether the audio is instrumental (without lyrics).  \n- In custom parameter mode (`defaultParamFlag: true`):  \n  - If `true`: only `style`, `title`, and `uploadUrl` are required.  \n  - If `false`: `style`, `title`, `prompt` (`prompt` will be used as exact lyrics), and `uploadUrl` are required.  \n- In non-custom parameter mode (`defaultParamFlag: false`): does not affect required fields (only `uploadUrl` needed). If `false`, lyrics will be automatically generated.",
                    "example": true
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description of how the music should be extended. Required when defaultParamFlag is true. Character limits by model:  \n  - **V4**: Maximum 3000 characters  \n  - **V4_5, V4_5PLUS, V4_5ALL, V5 & V5_5**: Maximum 5000 characters",
                    "example": "Extend the music with more relaxing notes"
                  },
                  "style": {
                    "type": "string",
                    "description": "Music style, e.g., Jazz, Classical, Electronic. Character limits by model:  \n  - **V4**: Maximum 200 characters  \n  - **V4_5, V4_5PLUS, V4_5ALL, V5 & V5_5**: Maximum 1000 characters",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "Music title. Character limits by model:  \n  - **V4 & V4_5ALL**: Maximum 80 characters  \n  - **V4_5, V4_5PLUS, V5 & V5_5**: Maximum 100 characters",
                    "example": "Peaceful Piano Extended"
                  },
                  "continueAt": {
                    "type": "number",
                    "description": "The time point (in seconds) from which to start extending the music.  \n- Required when `defaultParamFlag` is `true`.  \n- Value range: greater than 0 and less than the total duration of the uploaded audio.  \n- Specifies the position in the original track where the extension should begin.",
                    "example": 60
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Only available when custom parameters are enabled. Persona ID to apply to the generated music. Optional. You can use either:\n\n- A Persona ID generated by the [Generate Persona](https://docs.sunoapi.org/suno-api/generate-persona) endpoint. Use `personaModel: style_persona` or omit `personaModel` to use the default.\n- A `voiceId` generated by the [Suno Voice](https://docs.sunoapi.org/suno-api/suno-voice-generate) workflow. When using a voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model type to apply when using `personaId`. Optional.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Use this when `personaId` is a `voiceId` generated by Suno Voice. This option is only available with V5 and V5_5 models.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model version to use, must be consistent with the source audio",
                    "enum": [
                      "V4",
                      "V4_5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V5",
                      "V5_5"
                    ],
                    "example": "V4_5ALL"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles to exclude from generation",
                    "example": "Relaxing Piano"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender for generated vocals. Optional.",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Weight of the provided style guidance. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Constraint on creative deviation/novelty. Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Weight of the input audio influence (where applicable). Range 0.00–1.00.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when music extension is complete.\n- For detailed callback format and implementation guide, see [Upload and Extend Audio Callbacks](https://docs.sunoapi.org/suno-api/upload-and-extend-audio-callbacks)\n- Alternatively, you can use the get music generation details endpoint to poll task status",
                    "example": "https://api.example.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioExtend": {
            "{$request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "Original audio file URL"
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/record-info": {
      "get": {
        "operationId": "get-music-generation-details",
        "summary": "Get Music Generation Details",
        "parameters": [
          {
            "in": "query",
            "name": "taskId",
            "description": "The task ID returned from the Generate Music or Extend Music endpoints. Used to identify the specific generation task to query.",
            "required": true,
            "example": "5c79****be8e",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID"
                            },
                            "parentMusicId": {
                              "type": "string",
                              "description": "Parent music ID (only valid when extending music)"
                            },
                            "param": {
                              "type": "string",
                              "description": "Parameter information for task generation"
                            },
                            "response": {
                              "type": "object",
                              "properties": {
                                "taskId": {
                                  "type": "string",
                                  "description": "Task ID"
                                },
                                "sunoData": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Audio unique identifier (audioId)"
                                      },
                                      "audioUrl": {
                                        "type": "string",
                                        "description": "Audio file URL"
                                      },
                                      "streamAudioUrl": {
                                        "type": "string",
                                        "description": "Streaming audio URL"
                                      },
                                      "imageUrl": {
                                        "type": "string",
                                        "description": "Cover image URL"
                                      },
                                      "prompt": {
                                        "type": "string",
                                        "description": "Generation prompt/lyrics"
                                      },
                                      "modelName": {
                                        "type": "string",
                                        "description": "Model name used"
                                      },
                                      "title": {
                                        "type": "string",
                                        "description": "Music title"
                                      },
                                      "tags": {
                                        "type": "string",
                                        "description": "Music tags"
                                      },
                                      "createTime": {
                                        "type": "string",
                                        "description": "Creation time",
                                        "format": "date-time"
                                      },
                                      "duration": {
                                        "type": "number",
                                        "description": "Audio duration (seconds)"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "status": {
                              "type": "string",
                              "description": "Task status",
                              "enum": [
                                "PENDING",
                                "TEXT_SUCCESS",
                                "FIRST_SUCCESS",
                                "SUCCESS",
                                "CREATE_TASK_FAILED",
                                "GENERATE_AUDIO_FAILED",
                                "CALLBACK_EXCEPTION",
                                "SENSITIVE_WORD_ERROR"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "chirp-v3-5",
                                "chirp-v4"
                              ],
                              "description": "Task type"
                            },
                            "operationType": {
                              "type": "string",
                              "enum": [
                                "generate",
                                "extend",
                                "upload_cover",
                                "upload_extend"
                              ],
                              "description": "Operation Type\n\n- `generate`: Generate Music - Create new music works using AI model\n- `extend`: Extend Music - Extend or modify existing music works\n- `upload_cover`: Upload And Cover Audio - Create new music works based on uploaded audio files\n- `upload_extend`: Upload And Extend Audio - Extend or modify music works based on uploaded audio files"
                            },
                            "errorCode": {
                              "type": "number",
                              "description": "Error code, valid when task fails"
                            },
                            "errorMessage": {
                              "type": "string",
                              "description": "Error message, valid when task fails"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 200,
                  "msg": "success",
                  "data": {
                    "taskId": "5c79****be8e",
                    "parentMusicId": "",
                    "param": "{\"prompt\":\"A calm piano track\",\"style\":\"Classical\",\"title\":\"Peaceful Piano\",\"customMode\":true,\"instrumental\":true,\"model\":\"V4_5ALL\"}",
                    "response": {
                      "taskId": "5c79****be8e",
                      "sunoData": [
                        {
                          "id": "8551****662c",
                          "audioUrl": "https://example.cn/****.mp3",
                          "streamAudioUrl": "https://example.cn/****",
                          "imageUrl": "https://example.cn/****.jpeg",
                          "prompt": "[Verse] 夜晚城市 灯火辉煌",
                          "modelName": "chirp-v3-5",
                          "title": "钢铁侠",
                          "tags": "electrifying, rock",
                          "createTime": "2025-01-01 00:00:00",
                          "duration": 198.44
                        }
                      ]
                    },
                    "status": "SUCCESS",
                    "type": "GENERATE",
                    "errorCode": null,
                    "errorMessage": null
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/generate/credit": {
      "get": {
        "operationId": "get-remaining-credits",
        "summary": "Get Remaining Credits",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "integer",
                          "description": "The number of credits currently available in your account.  \n- Each API operation consumes a specific number of credits depending on the feature.  \n- Additional credits can be purchased from your account dashboard.",
                          "example": 100
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 200,
                  "msg": "success",
                  "data": 100
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/generate/get-timestamped-lyrics": {
      "post": {
        "operationId": "get-timestamped-lyrics",
        "summary": "Get Timestamped Lyrics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "taskId",
                  "audioId"
                ],
                "properties": {
                  "taskId": {
                    "type": "string",
                    "description": "The task ID of the music generation task. Required to identify which generation task contains the lyrics.",
                    "example": "5c79****be8e"
                  },
                  "audioId": {
                    "type": "string",
                    "description": "Audio ID of the track to retrieve lyrics for.",
                    "example": "e231****-****-****-****-****8cadc7dc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "alignedWords": {
                              "type": "array",
                              "description": "List of aligned lyrics words",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "word": {
                                    "type": "string",
                                    "description": "Lyrics word",
                                    "example": "[Verse]\nWaggin'"
                                  },
                                  "success": {
                                    "type": "boolean",
                                    "description": "Whether lyrics word is successfully aligned",
                                    "example": true
                                  },
                                  "startS": {
                                    "type": "number",
                                    "description": "Word start time (seconds)",
                                    "example": 1.36
                                  },
                                  "endS": {
                                    "type": "number",
                                    "description": "Word end time (seconds)",
                                    "example": 1.79
                                  },
                                  "palign": {
                                    "type": "integer",
                                    "description": "Alignment parameter",
                                    "example": 0
                                  }
                                }
                              }
                            },
                            "waveformData": {
                              "type": "array",
                              "description": "Waveform data, used for audio visualization",
                              "items": {
                                "type": "number"
                              },
                              "example": [
                                0.0,
                                1.0,
                                0.5,
                                0.75
                              ]
                            },
                            "hootCer": {
                              "type": "number",
                              "description": "Lyrics alignment accuracy score",
                              "example": 0.3803191489361702
                            },
                            "isStreamed": {
                              "type": "boolean",
                              "description": "Whether it's streaming audio",
                              "example": false
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "code": 200,
                  "msg": "success",
                  "data": {
                    "alignedWords": [
                      {
                        "word": "[Verse]\nWaggin'",
                        "success": true,
                        "startS": 1.36,
                        "endS": 1.79,
                        "palign": 0
                      }
                    ],
                    "waveformData": [
                      0.0,
                      1.0,
                      0.5,
                      0.75
                    ],
                    "hootCer": 0.3803191489361702,
                    "isStreamed": false
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/style/generate": {
      "post": {
        "operationId": "boost-music-style",
        "summary": "Boost Music Style",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Style description. Please describe in concise and clear language the music style you expect to generate. Example: 'Pop, Mysterious'",
                    "example": "Pop, Mysterious"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID"
                            },
                            "param": {
                              "type": "string",
                              "description": "Request parameters"
                            },
                            "result": {
                              "type": "string",
                              "description": "The final generated music style text result."
                            },
                            "creditsConsumed": {
                              "type": "number",
                              "description": "Credits consumed, up to 5 digits, up to 2 decimal places"
                            },
                            "creditsRemaining": {
                              "type": "number",
                              "description": "Credits remaining after this task"
                            },
                            "successFlag": {
                              "type": "string",
                              "description": "Execution result: 0-pending, 1-success, 2-failed"
                            },
                            "errorCode": {
                              "type": "number",
                              "description": "Error code"
                            },
                            "errorMessage": {
                              "type": "string",
                              "description": "Error message"
                            },
                            "createTime": {
                              "type": "string",
                              "description": "Creation time"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/generate/add-instrumental": {
      "post": {
        "operationId": "add-instrumental",
        "summary": "Add Instrumental",
        "tags": [
          "Music Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uploadUrl",
                  "title",
                  "negativeTags",
                  "tags",
                  "callBackUrl"
                ],
                "properties": {
                  "uploadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the uploaded music file to add instrumental to.  \n- Required.  \n- Must be a valid audio file URL accessible by the system.  \n- The uploaded audio should be in a supported format (MP3, WAV, etc.).",
                    "example": "https://example.com/music.mp3"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the music track.  \n- Required.  \n- This will be used as the title for the generated instrumental track.",
                    "example": "Relaxing Piano"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles or traits to exclude from the generated instrumental.  \n- Required.  \n- Use to avoid specific styles or instruments in the instrumental version.  \n  Example: \"Heavy Metal, Aggressive Drums\"",
                    "example": "Heavy Metal, Aggressive Drums"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Music style and characteristics for the instrumental.  \n- Required.  \n- Describe the desired style, mood, and instruments for the instrumental track.  \n  Example: \"Relaxing Piano, Ambient, Peaceful\"",
                    "example": "Relaxing Piano, Ambient, Peaceful"
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when instrumental generation is complete. The callback process has three stages: `text` (text generation), `first` (first track complete), `complete` (all tracks complete). Note: In some cases, `text` and `first` stages may be skipped, directly returning `complete`.\n- For detailed callback format and implementation guide, see [Add Instrumental Callbacks](https://docs.sunoapi.org/suno-api/add-instrumental-callbacks)\n- Alternatively, you can use the Get Music Generation Details interface to poll task status",
                    "example": "https://api.example.com/callback"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender for any vocal elements. Optional. Allowed values: 'm' (male), 'f' (female).",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Style adherence weight. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.61
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Creativity/novelty constraint. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.72
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Relative weight of audio consistency versus other controls. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "model": {
                    "type": "string",
                    "description": "Model version to use for generation. Optional. Default: V4_5PLUS.",
                    "enum": [
                      "V4_5PLUS",
                      "V5",
                      "V5_5"
                    ],
                    "default": "V4_5PLUS",
                    "example": "V4_5PLUS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "instrumentalAdded": {
            "{request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when instrumental generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Instrumental] Relaxing piano melody\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Relaxing Piano Instrumental\",\n        \"tags\": \"relaxing, piano, instrumental\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "Original audio file URL"
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
[...]
